pipeline/pp31CopyData_IfFile.json
{
	"name": "pp31CopyData_IfFile",
	"properties": {
		"activities": [
			{
				"name": "check file exitant",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Base1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "check file exitant",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('check file exitant').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Echec le fichiers n existe pas",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "le fichier order n'existe pas",
								"errorCode": "1000"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data order",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "TRUNCATE TABLE dbo.Orders",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "OrderDate",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "OrderDate",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "ProductKey",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "ProductKey",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Country",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Country",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "EnglishProductName",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "EnglishProductName",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "SalesAmount",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "SalesAmount",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "TaxAmt",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "TaxAmt",
												"type": "String",
												"physicalType": "nvarchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_Base1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_ASQL",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}