pipeline/pp37split_data.json
{
	"name": "pp37split_data",
	"properties": {
		"description": "Découper une base en plus selon un filtre exemple en des fichiers de produit ou pays",
		"activities": [
			{
				"name": "GetCountries",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT COUNTRY FROM dbo.Orders",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "sortie_name",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetCountries",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetCountries').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "definir nom country",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "country",
								"value": {
									"value": "@item().COUNTRY",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data par pays",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "definir nom country",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@replace('SELECT OrderDate, ProductKey, EnglishProductName,SalesAmount FROM dbo.orders\nWHERE COUNTRY = ''nompays''','nompays' ,variables('country'))",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ASQL",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_Split",
									"type": "DatasetReference",
									"parameters": {
										"nomfichierpays": {
											"value": "@concat(variables('country'),'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"country": {
				"type": "String"
			}
		},
		"annotations": []
	}
}