pipeline/pp38_Split_Multiple.json
{
	"name": "pp38_Split_Multiple",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT COUNTRY, REGION\nFROM dbo.InvoiceData\nORDER BY COUNTRY, REGION",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ASQL",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "nombre",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "nombre",
					"value": {
						"value": "@activity('Lookup1').output.count",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Iteration_Nom",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Pays",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Pays",
								"value": {
									"value": "@item().COUNTRY",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Region",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Region",
								"value": {
									"value": "@item().REGION",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Upload data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Pays",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Region",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@replace(replace('SELECT [YEAR],[MONTH],INVOICEID,SALES\nFROM dbo.InvoiceData\nWHERE COUNTRY=''countryname'' AND REGION=''regionname''','countryname' , variables('Pays')),'regionname',variables('Region'))",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_ASQL",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DS_CountRegion",
									"type": "DatasetReference",
									"parameters": {
										"region_namefile": {
											"value": "@variables('Region')",
											"type": "Expression"
										},
										"country_namefile": {
											"value": "@variables('Pays')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"nombre": {
				"type": "Integer"
			},
			"Pays": {
				"type": "String"
			},
			"Region": {
				"type": "String"
			}
		},
		"annotations": []
	}
}